@model Course
<partial name="_courseDetails" model="Model"/>
<a asp-controller="Courses" asp-action="Index" class="d-inline">Back To List</a>
<a asp-controller="Courses" asp-action="EditCourse" asp-route-Id="@Model.Id">Edit</a>