@model Course
@{
    SelectList Departments = new SelectList(ViewBag.Departments, "Id", "Name");
}

<h1>Edit Course</h1>
<form method="post" asp-controller="Courses" asp-action="SaveUpdatedCourse" asp-route-Id="@Model.Id">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" ></span>
        
    </div>

    <div>
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="Departments" class="form-control">
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <br/>
    <input type="submit" class="btn btn-primary" value="Save" />
</form>


<!--Add in layout-->
 @*section Scripts{
     @*<script src="~/lib/jquery/dist/jquery.min.js"></script>* @
     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 }*@